{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<style>.cart__total, .cart__price, .cart__subtotal-container{visibility:hidden}</style>
<div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section cart-page" data-check-for-order="true">
  {% section 'cart__banner' %}
  {% section 'cart__main' %}
  {% section 'cartpage_accordion' %}
</div>

<!-- Dynamic Product Options -->
<script type="text/javascript" src="https://node1.itoris.com/dpo/storefront/include.js?shop=zipcushions.myshopify.com"></script>

<style>.cart__total, .cart__price, .cart__subtotal-container{visibility:visible; color:#000;}
  .cart__total, .cart__price{
    font-weight:bold;
  }
</style>