{% comment %}
  The contents of the page.liquid template can be found in /sections/page-template.liquid
{% endcomment %}

<section class="mybannerpage banner__page" data-check-for-order="true">
  {% section 'page__banner' %}
  <section class="section__wrapperold">
    <div class="mybreadcrumbs">
  {% include 'breadcrumbs' %}</div>  
  
    <div style="clear:both"></div>
    <br>
    
    
    <div class="container">
      {% section 'page__main' %}
    </div>
  </section>
</section>