{% comment %} Product - classic (default) {% endcomment %}
  <div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section product-page section__wrapper">
    {% comment %} Breadcrumbs and navigation {% endcomment %}
    <section class="section
                    is-width-standard
                    has-padding-top
                    has-padding-bottom
                    ">
      <div class="container">
        <div class="one-whole column is-flex is-justify-space-between is-flex-column-reverse-mobile is-align-center">

          <div class="breadcrumb__container">
            {% render 'breadcrumb', context: 'product' %}
          </div>
        </div>
      </div>
    </section>

    {% comment %} Product wrapper {% endcomment %}
    <section class="section
                    section--has-sidebar-option">
      <div class="container">
        {% section 'product__sidebar' %}
        {% section 'product__main' %}
      </div>
    </section>
  </div>
{% style %}
  #shopify-block-AZC9yYytOSUdZeFE3N__15255627403292782234 {
    display: none!important;
}
{% endstyle %}
